*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.outside{
    width: 1200px;
    height: 800px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
}